body {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 161, 208);
}

.p {
font-family: 'Rajdhani';
color: whitesmoke;
font-size: 5vw;
font-weight: 600;
}