body {

margin: 0;

}
p {

    color: white;
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 0.3rem;
}
.topbar {
height: 110px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.middlebox {
    display: flex;
width: 80%;
height: 110px;
background-color: black;

}

img {
margin-top: 30px;
margin-left: 20px;
}

.box1 {
height: 110px;
width: 33.33%;
}

.box2 {
display: flex ;
justify-content: center;
align-items: center;
height: 110px;
width: 33.3%;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 33.3%;
    }

    h1 {
        margin-left: 50px;
        font-family: sans-serif;
font-weight: lighter;
font-size: 2rem;
    color: rgb(94, 94, 94);
    }
h1:hover {

color: white;

}
    h2 {
        margin-left: 0px;
        font-family: sans-serif;
font-weight: lighter;
font-size: 2rem;
    color: rgb(94, 94, 94);
    }
    h2:hover {

        color: white;
        
        }
    h3 {
        margin-left: 30%;
        font-family: sans-serif;
font-weight: lighter;
font-size: 2rem;
    color: rgb(255, 255, 255);
    }
    h3:hover {

        color: rgb(209, 209, 209);
        
        }
h4 {
    font-size: 1rem;
font-family: sans-serif;
color: rgb(241, 83, 83);

}
h5 {
font-family: sans-serif;
font-weight: bold;
}

    .topbar2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        
        }
        
        .middlebox2 {
            display: flex;
            justify-content: center;
            align-items: center;
        background-color: black;
        width: 80%;
        height: 30px;
        }
        

.picbox {
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: 5%;
    }

    .smallbox1 {
        display: flex;
        justify-content: center;
        align-items: center;
width: 33.33%;
height: 300px;
    }
    
    .smallbox2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        height: 300px;
    }
    
    .smallbox3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        height: 300px;
    }

    .img2 {
        margin-top: 8%;
width: 400px;
height: 250px;
margin-left: -4%;
    }
    
    .img3 {
        margin-top: 8%;
        width: 400px;
        height: 250px;
        margin-left: -4%;
            }
            .img4 {
                margin-top: 8%;
                width: 400px;
                height: 250px;
                margin-left: -4%;
                    }
            
    .img {

width: 400px;
height: 250px;
    }
    @media screen and (max-width: 1500px){

h2 {margin: 2%;}
h1 {margin: 2%;}
    }


    @media screen and (max-width: 1210px){
        .middlebox {width: 100%;}
        .middlebox2 {width: 100%;}
        h2 {font-size: calc(3vw);}
        h1 {font-size: calc(3vw);}
        h3 {font-size: calc(3.5vw);}
        h4 {font-size: calc(1.5vw);}
        h5 {font-size: calc(1.5vw);}
        .img2 {width: 250px;}
.img2 {height: 175px;}
.img3 {width: 250px;}
.img3 {height: 175px;}
.img4 {width: 250px;}
.img4 {height: 175px;}
.bottom {margin-top: -50px;}
}

    @media screen and (max-height: 740px){
        .middlebox {height: 65px;}
   .topbar {height: 65px;}
   .box1 {height: 65px;}
   .box2 {height: 65px;}
   .box3 {height: 65px;}
   img {margin-top: 20px;}
   img {width: 35px;}
   img {height:35px;}
   .picbox {margin: 0px;}
   .picbox {height: 200px;}
   .smallbox1 {height: 200px;}
   .smallbox2 {height: 200px;}
   .smallbox3 {height: 200px;}
.img2 {width: 270px;}
.img2 {height: 175px;}
.img3 {width: 250px;}
.img3 {height: 175px;}
.img4 {width: 250px;}
.img4 {height: 175px;}
.bottom {margin-top: -15px;}
}
@media screen and (max-width: 820px){
    .img2 {width: 135px;}
    .img2 {height: 87.5px;}
    .img3 {width: 125px;}
    .img3 {height: 87.5px;}
    .img4 {width: 125px;}
    .img4 {height: 87.5px;}
    .h4 {margin-top: 20px;}
    .bottom {margin-top: -55px;}
        }
    
@media screen and (max-width: 400px){
    .img2 {width: 95px;}
    .img2 {height: 63.5px;}
    .img3 {width: 90px;}
    .img3 {height: 63.75px;}
    .img4 {width: 90px;}
    .img4 {height: 63.75px;}
    .bottom {margin-top: -70px;}
        }
    
.bottom {
    display: flex;
height: 100px;
width: 100%;
        }
        .bottombox2 {
            text-align: center;
width: 33.3%;
height: 100px;
        }
        .bottombox3 {      
            text-align: center;
            width: 33.3%;
            height: 100px;
                    }
            
                    .bottombox4 {
                  text-align: center;
                        width: 33.3%;
                        height: 100px;
                                }