body {
display:flex;
justify-content: center;
align-items: center;
background-color: lightgray;
height: 100vh;
}

.picture {
width: 250px;
height: 250px;
border-radius: 50%;
background: url(cow.jpg);
background-repeat: no-repeat;
background-size: 300px 300px;  
background-position: center;
border: 40px solid;
border-color: white;
box-shadow: 12px 12px 30px darkgray, 12px 12px 60px darkgray inset;
}